body{
	//background-color: #101010;
}
.navbar-inverse .navbar-toggle{
	border-color: #77ff31;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand>img{
	width:50px;
	height:50px;
	margin-top: -15px;
}
.bg1{
	background-image: url('../imgs/bg1.jpg');
	background-attachment: fixed;
	height:950px;
	width:100%;
	filter: grayscale(100%) brightness(30%);
	-webkit-filter: grayscale(100%) brightness(30%);
	position:absolute;
	z-index:1;
	left:0;
	animation-name: fadeIn;
	animation-duration: 2s;
}
.bgSobre{
	height:950px;
	width: 100%;
	position:absolute;
	z-index:1;
	overflow:hidden;
}
.mySlides{
	width: 100%;
	//margin-left: 30%;
}
.conteudo{
	background-color: transparent;
	margin-top: 20px;
  	left: 0;
  	position: absolute;
  	margin-left: 20px;
  	margin-right: 20px;
  	right: 0;
  	z-index: 2;
  	padding: 0 10px;

}
.sobreHr{
	width:30%;
}
.faixa{
	margin:0;
	background-image: url('../imgs/faixa.png');
}
#saudacao{
	width: 40%;
	height: 40%;
	margin-left: 30%;

}
.saudacao{
	margin-top:-10%;
	text-align: center;
	color: white;
}
.sobre{
	color:white;
	text-align: left;
	background-attachment: fixed;
	margin-top:950px;
	height:950px;
	overflow:hidden;
}
.equipe{
	z-index:3;
	background-color:white;
	text-align: center;
	background-attachment: fixed;
	height:950px;
}
.caption>p{
	color:#797979;
}
.thumbnail>img{
	transition: 0.3s ease-in-out;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	border-radius: 100%;
	width: 35%;
	height: 35%;
}
.thumbnail>img:hover{
	transition: 0.3s ease-in-out;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
.thumbnail{
	border: 0;
}
.equipeHr{
	margin-left: auto;
	margin-right: auto;
	width:30%;
	border:1px solid #5cb85c;
}
.social>img{
	transition: 0.3s ease-in-out;
	width: 25px;
	height: 25px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	margin-right:5px;
}
.social>img:hover{
	transition: 0.3s ease-in-out;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: : 1;}
}
fieldset{
	border:0;
	width:100%;	
	margin-top:10%;
}
.input-box{
	height:60px;
	margin-bottom:7%;
	border-radius:6px;
	background-color:#F7F2F2;
}
.input-area{
	width:97.6%;
	margin-left:1.2%;
	border-radius:6px;
	background-color:#F7F2F2;
}
#wrap{
	margin-top:1%;
	text-align:center;
	color:white;
}
.contato{
	text-align: center;
	position:absolute;
	background-color: transparent;
  	left: 0;
  	right: 0;
  	z-index: 2;
  	padding: 0 10px;
	background-attachment:fixed;
	background-image: url('../imgs/contato_grayscale.jpg');
	color:white;
	margin-top:50px;
	height:950px;
}
.containerContato{
	margin-left:100px;
	margin-right:100px;
	background-color: transparent;
}
.alert{
	opacity:0;
	width:50%;
	margin-top:5px;
	margin-left:auto;
	margin-right: auto;
}
.footer{
	position: absolute;
	margin-top: 1000px;
	color:#939393;
	background-color:#222;
	padding-left: 3%;
	padding-right: 3%;
	width: 100%;
	min-height: 200px;
}
.bl{
	text-align:center;
	background-color:#080808;
	padding:40px;
	min-height: 200px;
	height:100%;
}
.gr{
	text-align:center;
	min-height:100px;
	padding:6% 0 0 0;
}
@media (max-width: 768px) {
	.faixa{
		background-attachment: fixed;
		height:950px;
	}
	.sobreHr{
		width:70%;
	} 
	.contato{
		margin-top: 1100px;
	}
	.footer{
		margin-top: 2050px;
		padding-top: 3%;
	}
	#saudacao{
		width: 80%;
    	height: 80%;
    	margin-top: 20%;
    	margin-left: 10%;
	}
	.bg1{
		height:800px;
	}
	.sobre{
		margin-top:800px;
	}
	.containerContato{
		margin:0;
	}
}
@media (min-width: 768px){
	.faixa{
		height:950px;
	}
	.contato{
		margin-top: 0;
	}
	.footer{
		margin-top: 950px;
	}
}
@media (min-width: 992px){
	.contato{
		margin-top: 50px;
	}
	.footer{
		margin-top: 1000px;
	}
}
.navbar-inverse .navbar-nav>li>a{
	cursor:pointer;
}
.navbar-inverse .navbar-nav>li>a.active{
	background-color: #080808;
	color: white;
}
@media (max-width: 320px){
	.equipe{
		margin-top: 170px;
	}
	.faixa{
		height:auto;
	}
}


